{{ form_start(form, {'attr': {'class': 'js-formContact'}})}}
{{form_widget(form._token)}}

<div class='row'>
	<div class="col">{{ form_row(form.firstname) }}</div>
	<div class="col">{{ form_row(form.lastname) }}</div>
	<div class="col">{{ form_row(form.phone) }}</div>
</div>
<div class='row'>
	<div class="col">{{ form_row(form.email) }}</div>
	<div class="col">{{ form_row(form.object) }}</div>
</div>
<div>{{ form_row(form.message) }}</div>
<button class="btn rounded-5 btn-secondary ">Envoyer</button>

<p class='js-message text-success'></p>
{{form_end(form)}}
